body {
	font-family: Trebuchet MS;
	user-select: none;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

code {
	background: #F93;
	margin: 0px 10px;
	padding: 0px 5px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 110%;
}

.contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: #966;
	padding: 5px;
	margin-bottom: 20px;
	border: 1px solid black;
}

.contents div {
	background-color: #966;
	border: 5px solid #0000;
}

u {
  text-decoration: underline;
}
uu {
  text-decoration: underline double;
}

header {
	margin-top: 20px;
	padding: 0 20px;
	background-color: #00CED120;
	border: 1px solid darkturquoise;
}

section {
	margin-left: 50px;
}

.eco, .move {
	font-family: Courier Prime;
	font-weight: normal;
	vertical-align: middle;
}

.eco {
	font-size: 80%;
}

.move {
	font-size: 120%;
}



.shelf {
	display: flex;
}

header img {
	width: 160px;
}

.open_wrap {
	width: 350px;
	border: 1px solid #f002;
	display: grid;
	grid-template-columns: 50px 300px;
	grid-template-rows: 50px 50px 200px 50px;
	border: 2px solid navy;
}

.left {
	grid-column: 1 / 2;
	grid-row: 1 / 5;
	display: flex;
	flex-direction: column;
	border: 2px solid springgreen;
	align-items: center;
}

.right {
	grid-column: 2 / 3;
	grid-row: 1 / 5;
	display: grid;
	grid-template-rows: 50px 50px 180px 1fr;
	border: 2px solid red;
}

.code {
	text-align: center;
	font-size: 130%;
	width: auto;
	padding: 10px 5px 10px;
	margin: 0px;
	border: 2px solid black;
}
.swatch {
	width: 16px;
	height: 16px;
}
.b {
	margin: 10px;
	padding: 5px;
	color: #fff;
	background-color: #333;
	border: 2px solid black;
	border-radius: 5px;
}
.w {
	margin: 10px;
	padding: 5px;
	color: #333;
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.title {
	border: 2px solid goldenrod;
	margin: 0;
	padding: 10px;
}
.subtitle {
	border: 2px solid green;
}
.image {
	border: 2px solid cyan;
	/* position: relative; */
}
.image img {
	position: absolute;
	width: 160px;
}
.alg {
	border: 2px solid pink;
}


/* .b::after {
	margin-left: 10px;
	content: '---';
	color: #333;
	background-color: #333;
	border: 2px solid black;
	white-space: nowrap;
	border-radius: 50%;
}
.w::after {
	margin-left: 10px;
	content: '---';
	color: #fff;
	background-color: #fff;
	border: 2px solid black;
	white-space: nowrap;
	border-radius: 50%;
} */

.board {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
}

.pieces {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	opacity: 0.5;
}
